.review{
    padding: 6% 8%;
}
.review-heading{
    text-align: center;
}
.review-heading p{
    margin-top: 0.3rem;
}
.flex-review{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.flex-review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.review-details{
    text-align: center;
}
.review-details p{
    font-size: 15px;
    line-height: 25px;
}
.review-details h6{
    font-size: 18px;
}

@media(max-width:768px) {
    .flex-review{
        flex-direction: column;
    }
  }